<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ErpCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.ErpCustomer">
        <id column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="customer_sex" property="customerSex" />
        <result column="customer_link_name" property="customerLinkName" />
        <result column="customer_link_phone" property="customerLinkPhone" />
        <result column="customer_enable" property="customerEnable" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

</mapper>
