<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ErpStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.ErpStock">
        <id column="stock_id" property="stockId" />
        <result column="product_id" property="productId" />
        <result column="product_num" property="productNum" />
        <result column="stock_time" property="stockTime" />
        <result column="order_id" property="orderId" />
        <result column="inbound_id" property="inboundId" />
    </resultMap>

</mapper>
