<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.erp.mapper.ErpSellMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.erp.entity.ErpSell">
        <id column="sell_id" property="sellId" />
        <result column="sell_number" property="sellNumber" />
        <result column="customer_id" property="customerId" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="check_id" property="checkId" />
        <result column="check_time" property="checkTime" />
        <result column="sell_status" property="sellStatus" />
        <result column="sell_finish" property="sellFinish" />
        <result column="finish_time" property="finishTime" />
        <result column="sell_num" property="sellNum" />
        <result column="sell_total" property="sellTotal" />
        <result column="stock_id" property="stockId" />
        <result column="sell_remakes" property="sellRemakes" />
    </resultMap>

</mapper>
