<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ZyjGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.ZyjGroup">
        <id column="group_id" property="groupId" />
        <result column="group_name" property="groupName" />
        <result column="group_parent_id" property="groupParentId" />
        <result column="group_type" property="groupType" />
        <result column="group_order" property="groupOrder" />
        <result column="back1" property="back1" />
        <result column="back2" property="back2" />
        <result column="back3" property="back3" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>
    <sql id="groupColumns">
        a.group_id as 'groupId',
        a.group_name as 'groupName',
        a.group_parent_id as 'groupParentId',
        a.group_type as 'groupType',
        a.group_order as 'groupOrder'
    </sql>
    <!--查询当前用户的部门及下级部门-->
    <select id="getTreeGroup" resultType="ZyjGroup">
            SELECT
            <include refid="groupColumns"/>
            FROM zyj_group a
            <where>
                a.del_flag=0
                <if test="groupId !=null">
                    and (a.group_id=#{groupId} or a.group_parent_id=#{groupId})
                </if>
            </where>
    </select>
</mapper>
