<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ZyjMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.ZyjMenu">
        <id column="menu_id" property="menuId"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_parent_id" property="menuParentId"/>
        <result column="menu_level" property="menuLevel"/>
        <result column="menu_url" property="menuUrl"/>
        <result column="menu_desc" property="menuDesc"/>
        <result column="menu_css" property="menuCss"/>
        <result column="menu_permissions" property="menuPermissions"/>
        <result column="sort_no" property="sortNo"/>
        <result column="is_show" property="isShow"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>
    <sql id="MenuColumn">
         a.menu_id as 'menuId',
         a.menu_name as 'menuName',
         a.menu_parent_id as 'menuParentId',
         a.menu_url as 'menuUrl',
         a.menu_desc as 'menuDesc',
         a.menu_level as 'menuLevel',
         a.menu_css as 'menuCss',
         a.menu_permissions as 'menuPermissions',
         a.sort_no as 'sortNo'
    </sql>
    <!--查询用户角色权限-->
    <select id="findAllMenuPerm" resultType="String">
         select
         zm.menu_permissions
         from
         zyj_user_role ur
         LEFT JOIN zyj_role_menu rm  ON ur.role_id=rm.role_id
         LEFT JOIN zyj_menu zm ON rm.menu_id=zm.menu_id
         where
         ur.del_flag=0 and rm.del_flag=0 and zm.del_flag=0
         and ur.user_id=#{userId}
    </select>
    <!--查询菜单列表-->
    <select id="findAllMenu" resultType="com.example.demo.entityDto.ZyjMenuDto">
        select
        <include refid="MenuColumn"/>
        from zyj_menu a
        <where>
            a.del_flag=0
            <if test="keyword != ''and keyword !=null">
                and a.menu_name like "%"#{keyword}"%"
            </if>
        </where>
            order by a.sort_no asc
    </select>
    <!--根据登录人获取用户权限-->
    <select id="findUserMenuList" resultType="com.example.demo.entityDto.ZyjMenuDto">
        select
        <include refid="MenuColumn"/>
        from
        zyj_user_role zur LEFT JOIN zyj_role_menu zrm on zur.role_id=zrm.role_id
        LEFT JOIN zyj_menu a ON zrm.menu_id= a.menu_id
        WHERE zur.user_id=#{userId} and a.del_flag=0
        <if test ="menuLevel!=null and menuLevel!=''">
            and a.menu_level in (${menuLevel})
        </if>
        <if test ="parentId!=null and parentId!=''">
            and a.menu_parent_id  =#{parentId}
        </if>
        order by a.menu_parent_id,a.sort_no
    </select>
</mapper>
